article {
    margin: 56px auto;
}

.preguntas{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

article h2 {
    text-align: justify;
    padding-top: 32px;
    color: #2DAAA4;
    font-size: 38px;
    font-weight: bold;
    width: 76%;
    margin: 40px auto 0;
}

article section p {
    text-align: justify;
    margin: 24px auto;
    padding: 0px;
    font-size: 28px;
    color: #737373;
}

article a{
    text-decoration: none;
    color: #2DAAA4;
    font-weight: bold;
}

@media screen and (min-width: 320px) and (max-width: 900px){
    
    .preguntas{
        width: 95%;
        margin: 0 auto;
        text-align: center;
    }

    article h2 {
        text-align: center;
        padding-top: 32px;
        color: #2DAAA4;
        font-size: 24px;
        font-weight: bold;
        min-width: 90%;
        margin: 30px auto;
    }

    article section p {
        text-align: justify;
        min-width: 90%;
        margin: 0 auto;
        padding: 0;
        font-size: 18px;
        color: #737373;
    }
    
    article a{
        text-decoration: none;
        color: #2DAAA4;
        font-weight: bold;
    }
}

@media screen and (min-width: 900px){
}