*{
    font-family: "Montserrat";
}

p{
    /*color: #2DAAA4;*/
    font-size: 16px;
    font-weight: bold;
}


.campo{
    color: #2DAAA4;
}
.valor{
    color: #000;
}


.btn-container {
    text-align: center;
}

.btn-next_prev {
    display: inline-block;
    margin: 20px 10px;
    padding: 10px 20px;
    background-color: #2DAAA4;
    font-family: "Montserrat";
    color: #FFF;
    font-weight: bold;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-next_prev:hover {
    background-color: #0056B3;
}